<p id="notice"><%= notice %></p>

<h1>Serves</h1>

<hr>

<%= bootstrap_form_tag url: '/serves', method: :get, layout: :inline do |f| %>
  <h4>Input Month</h4>
  <%= f.text_field :input_date, hide_label: true, placeholder: 'EX. 2017-11' %>
  <%= f.submit "Show Report" %>
<% end %>

<table id="table" 
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-pagination-loop ="false"
       >
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Serve Count</th>
    </tr>
  </thead>
  <tbody>

    <% if @serves %>
      <% @serves.each do |s| %>
      <tr>
        <td><%= Member.fullname(s[0]) %></td>
        <td><%= link_to s[1], serves_serve_info_path(id: s[0] ,date: @input_date), method: :post %></td>
      </tr>
      <% end %>
    <% end %>

  </tbody>
<table>