
<br>
<h2><span class="glyphicon glyphicon-user"></span> CHECK-IN / CHECK-OUT</h2>
<hr>

<%= bootstrap_form_for(@serve) do |f| %>

  <%= f.text_field :member_id, hide_label: true, placeholder: "MEMBER CODE" %>
  <%= f.hidden_field :checkin_time, value: Time.now.strftime("%H:%M:%S") %>
  <%= f.hidden_field :date, value: Time.now %>
  
<% end %>

<hr>
<br>

<p id="notice"><%= notice %></p>

<% if  @lastCheckin %>
	<div class="panel panel-info">
	  <div class="panel-heading">Member last Checkin Infomation</div>
	  <div class="panel-body">
	  	<div class="row">
	  		<div class="col-md-6">
	  			<p><h4>Fullname : <%= @lastCheckin.member.firstname %> <%= @lastCheckin.member.lastname %></h4></p>
	  			<p><h4>Regis Date : <%= @lastCheckin.member.regisdate %> </h4></p>
					
					<% if @lastCheckin.member.expdate %>
		  			<% if Time.now.to_date < Date.parse(@lastCheckin.member.expdate) %>
		  				<p><h4 class="text-success">Exp Date : <%= @lastCheckin.member.expdate %> </h4></p>
		  			<% else %>
		  				<p><h4 class="text-danger">Exp Date : <%= @lastCheckin.member.expdate %></h4></p>
		  			<% end %>
		  		<% else %>
		  			<p><h4>Exp Date : ไม่ระบุวันหมดอายุ </h4></p>
		  		<% end %>

	  		</div>
	  		<div class="col-md-6">
	  			<p><h4>BoD: <%= @lastCheckin.member.bdate %> </h4></p>
	  			<p><h4>Member Type : <%= @lastCheckin.member.member_type %> </h4></p>
	  			<p><h4>Pc Balance : <%= @lastCheckin.member.pc_balance %> </h4></p>
	  		</div>
	  	</div>
	  </div>
	</div>
<% end %>

<div class="col-md-12 text-right"><h3><kbd>TODAY: <%= Time.now.to_date %></kbd></h3></div>
<table data-toggle="table">
	<thead>
		<th>NO.</th>
		<th>Member Code</th>
		<th>Checkin Time</th>
		<th>Action</th>
	</thead>

	<tbody>
		<% @serves.each_with_index do |s,i| %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= s.member.code %></td>
				<td><%= s.checkin_time %></td>
				<td><%= link_to 'Checkout', s, method: :patch, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>

	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><%= link_to 'Checkout All', serves_checkout_all_path, method: :post, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	</tfoot>
	
</table>