<%= bootstrap_form_for(member) do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :code %>
    <%= f.text_field :firstname %>
    <%= f.text_field :lastname %>
    <%= f.text_field :nickname %>
    <%= f.text_field :phone %>
    <%= f.text_field :member_type %>
    <%= f.text_field :bdate %>
    <%= f.text_field :regisdate %>
    <%= f.text_field :expdate %>
    <%= f.number_field :pc_amount %>
    <%= f.number_field :pc_balance %>
    <%= f.submit %>
    
<% end %>
